<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>随机图API</title>
    <link rel="icon" href="/site/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/script.js"></script>
</head>
<body>
<div class="container">
    <h1>{{.page}}</h1>
    <img id="randomImage" src="{{.ImagePath}}" alt="随机图片" width="500">
    <p> 你可以返回 <a href="/">首页</a>，
        或者，你可以 <a href="javascript:void(0);" onclick="refreshImage();">看看其他随机图片</a>。
    </p>
</div>
</body>
</html>
